/*The apparel vintage company css file */
/*
COLOUR SHEET+ FONTS
First colour: rgba(54, 91, 70, 1);
Second colour: rgba(54, 91, 70, 0.9);
Third colour: rgba(159, 12, 16, 1);
Fourth colour:#444;
font-family: 'Roboto', sans-serif;
font-family: 'Ek Mukta', sans-serif;
home work add cart with animate hover cursor and icon
*/

/*-----------------------------------------
THE APPAREL VINTAGE COMPANY CSS STYLE FILE
-------------------------------------------*/

/*-----------------------------------------
        WEBSITE COLOUR SCHEM
-------------------------------------------*/
/*First colour: rgba(54, 91,70, 1);
Second colour: rgba(54, 91, 70, 0.9); 
Third colour: rgba(159, 12, 16, 1); 
Fourth colour: #444;
font-family: 'Roboto', sans-serif;*/

/*-----------------------------------------
        THE GLOBAL STYLES
-------------------------------------------*/

body {
   font-family: 'Ek Mukta', sans-serif;
   font-size: 0.9em;
   color: #444;
   overflow-x: hidden;
   margin: 0;
   padding: 0;
    
    
}
.main {
    width: 100%;
    margin: 0 auto;
}

.container {
    
    width: 80%;
    background-color: red;
    margin: auto;
}

/*img {
    width: 100%; 
}*/

/*-----------------------------------------
        THE HOME STYLES
-------------------------------------------*/

.bgImage {
    background-image: url("../HTML5/CaseStudy/images/vintageHome.jpg");
    background-position: center top;
    /*If you change the background-size to 100% value the background image will be responsive to the screen size.*/
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    top: 15vh;
    left: 15vw;
    
}

.actionB {
    position: absolute;
    top:70vh;
    left: 17vw;
    
}

.buttonD {
    position: absolute;
    bottom: 10vh;
    left: 50vw;
    
}

.scrollD {
    background-color: rgba(54, 91, 70, 0.6);
    padding: 15px 20px;
    line-height: 20px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    outline: none;
    border: 2px solid rgba(54, 91, 70, 1);
    
}

.arrivals {
    background-color: rgba(54, 91, 70, 0.6);
    padding: 15px 20px;
    line-height: 20px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    outline: none;
    border: 2px solid rgba(54, 91, 70, 1);
}

.arrivals:hover {
    background-color: rgba(54, 91, 70, 0.4);
}

.navC {
    width: 100%;
    height: auto;
    background-color: rgba(54, 91, 70, 0.9);
    position: fixed;
    padding: 10px 0;
}

nav {
    float: right;
}

nav li {
    display: inline;
    padding: 0 10px 0 0;
}

nav a {
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    color: rgba(255, 255, 255, 1);
}

.hand {
    position: absolute;
    bottom: 26vh;
    left: 40vw;
    color: rgba(54, 91, 70, 0.9);
}

.cartbox{
background-color:darkslategray;
}

.prods {
    
    column-count: 3;
    padding: 20px 80px;
    
}

.prodse {
    display: inline;
}
.prodse img{
        position: relative;
    width:  200px;
    height: 300px;
    background-position: 70% 70%;
    background-size:     cover;
}